<h2>Clientes</h2>
<div class="card border-primary mb-3" style="max-width: 90%;">
  <div class="card-header">Lista de Clientes</div>
  <div class="card-body text-primary">
    <!-- <h5 class="card-title">Listado de Vehiculos</h5> -->
    <table class="table ">
       <thead class="thead-dark">
         <tr>
           <th>Id</th>
           <th>Nombre</th>
           <th>Tipo de Cliente</th>
           <th>Telefono</th>
           <th>Email</th>
           <th>Fecha</th>
           <th>Opciones</th>
         </tr>
       </thead>
       <tbody *ngFor="let any of clientes">
         <td>{{any.id}}</td>
         <td>{{any.nombreApellido}}</td>
         <td>{{any.tipoCliente}}</td>
         <td>{{any.telefono}}</td>
         <td>{{any.email}}</td>
         <td>{{any.createAt}}</td>
         <td>
           <!-- <div class="button-group"> -->
             <button class="btn btn-primary btn-sm" type="button" name="button"> Modificar </button>
             <button class="btn btn-danger btn-sm" type="button" name="button"> Eliminar </button>
           <!-- </div> -->
         </td>
       </tbody>
    </table>
  </div>
</div>
