<div style="padding-bottom:5%">
  <div class="card border-primary mb-3">
    <div class="card-header">
      <h2>{{titulo}}</h2>
    </div>
    <div class="card-body">
      <!-- <form> -->

      <div *ngIf="(renta)" class="form-group row">
        <label class="col-sm-2 col-form-label" for="marca">Cliente :</label>
        <div class="col-sm-9">
          <select class="form-control" [(ngModel)]="renta.cliente">
            <option *ngFor="let cli of listaClientes" [ngValue]="cli">{{cli.nombre}} {{cli.apellido}}</option>
            <option *ngIf="(renta.cliente)" [ngValue]="renta.cliente" selected>{{renta.cliente.nombre}}
              {{renta.cliente.apellido}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="(renta)" class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Fecha de Operacion:</label>
        <div class="col-sm-9">
          <!-- <input type="date" [(ngModel)]="renta.fecha" class="form-control" placeholder="Fecha de Operacion"> -->
          <angular2-date-picker class="form-control" [(ngModel)]="renta.fechaOperacion" [settings]="settings" placeholder="Fecha de Operacion"></angular2-date-picker>
        </div>
      </div>

      <div *ngIf="(renta)" class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Estado:</label>
        <div class="col-sm-9">
          <select class="form-control" [(ngModel)]="renta.estadoRenta" required>
            <option *ngFor="let est of listaEstados" [ngValue]="est">{{est.descripcion}}</option>
            <option *ngIf="(renta.estadoRenta)" [ngValue]="renta.estadoRenta" selected>{{renta.estadoRenta.descripcion}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="(renta)" class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Monto Total (Gs):</label>
        <div class="col-sm-9">
          <input type="text" [(ngModel)]="renta.montoTotal" class="form-control" placeholder="Monto Total" readonly>
        </div>
      </div>

      <!-- <div class="text-right">
            <button *ngIf="(isEdit)" type="submit" class="btn btn-success" (click)="submitEdit()"> Modificar </button>
            <button *ngIf="(!isEdit)" type="submit" class="btn btn-success" (click)="submitSave()"> Guardar </button>
            <button type="button" class="btn btn-danger" routerLink="/clientes"> Cancelar</button>
          </div> -->
      <!-- </form> -->
    </div>

    <div class="card-header">
      <h2>Detalles</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" (click)="addItem(vehiculoDetalle,fechaInicioDetalle,fechaFinDetalle)"><i
                class="fas fa-plus"></i> Agregar </button>
            <!-- <button type="button" class="btn btn-success" (click)="editItem()"><i class="fas fa-pencil-alt"></i>
              Modificar</button> -->
            <button type="button" class="btn btn-danger" (click)="removeItem()"><i class="fas fa-trash"></i> Eliminar
            </button>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-3">
          <label for="input.detalleRenta" class="col-form-label"><b> Vehiculo :</b></label>
          <select class="form-control" [(ngModel)]="vehiculoDetalle">
            <option *ngFor="let veh of listaVehiculos" [ngValue]="veh">{{veh.id}} - {{veh.marca.descripcion}}
              {{veh.modelo.descripcion}}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="input.fechaInicioRenta" class="col-form-label"><b> Fecha Inicio :</b></label>
          <angular2-date-picker class="form-control" [(ngModel)]="fechaInicioDetalle" [settings]="settings" placeholder="Fecha de Inicio"></angular2-date-picker>
        </div>
        <div class="col-sm-3">
          <label for="input.fechaFinRenta" class="col-form-label"><b> Fecha Fin :</b></label>
          <angular2-date-picker class="form-control" [(ngModel)]="fechaFinDetalle" [settings]="settings" placeholder="Fecha de Fin"></angular2-date-picker>
        </div>
      </div>
      <br>
      <div class="row col-md-12">
        <table class="table table-bordered ">
          <thead class="th-dark">
            <tr>
              <th scope="col">#</th>
              <!-- <th scope="col">Id</th> -->
              <th scope="col">Vehiculo</th>
              <th scope="col">Precio Unitario</th>
              <th scope="col">Fecha Inicio </th>
              <th scope="col">Fecha Fin </th>
              <th scope="col">Total </th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of listaDetalleRenta" >
                  <th><input type="radio" (click) ="putSelectedValue(item)"></th>
                  <!-- <th>{{item.id}}</th> -->
                  <td>{{item.vehiculo.marca.descripcion}} - {{item.vehiculo.modelo.descripcion}}</td>
                  <td>{{item.vehiculo.precio}}</td>
                  <td>{{item.fechaInicioRenta | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                  <td>{{item.fechaFinRenta | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                  <td>{{calculatePrice(item.fechaInicioRenta, item.fechaFinRenta, item.vehiculo.precio) * -1}}</td>
              </tr>
          <tbody>
        </table>

      </div>

    </div>
    <div class="card-footer">
      <div class="text-right">
        <button *ngIf="(isEdit)" type="submit" class="btn btn-success" (click)="submitEdit()"> Modificar </button>
        <button *ngIf="(!isEdit)" type="submit" class="btn btn-success" (click)="submitSave()"> Guardar </button>
        <button type="button" class="btn btn-danger" routerLink="/rentas"> Cancelar</button>
      </div>
    </div>

  </div>
</div>
